
body {
    background-color: #3A3A3A;
}

.dots-title {
    font-family: 'Codystar', cursive;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    color: white;
}

.font1 {
    text-align: center;
}

.dot{
    font-size: 40px;
    text-align: center;
    color: white;
}

.header {
    width: 100%;
    text-align: left;
    position: relative;
    background-color: #3A3A3A;

}

.link {
    display: inline-block;
    padding: 15px 0;
    margin: 15px 25px;
    position: relative;
    text-decoration: none;
    color:white;
    font-weight: 800;
    font-size: 24px;
    font-family: 'Codystar', cursive;
}

.header a:hover {
    border-bottom: 4px dotted white;
}

.header a:active {
    border-bottom: 4px dotted white;
}

#texto {
    font-family: 'Codystar', cursive;
    color: white;
}

#dot1 {
    animation-name: dotOneMoves;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;

}

@keyframes dotOneMoves {
    from{
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#worldDots, #bigCircle  {
    animation-name: pathDots;
    animation-duration: 10s;
    animation-iteration-count: infinite;
    transform-origin: 50% 50%;

}

@keyframes pathDots {
    from{
        transform: rotate(90deg);
    }
}

#dot2 {
    animation-name: dotTwoMoves;
    animation-duration: 5s;
    -webkit-animation: css 5s infinite;
    -moz-animation: css 5s infinite;
    
}

@keyframes dotTwoMoves {
    0% {
        transform: scale(1, 1);
       }
   
       50% {
        transform: scale(1.1, 1.1);
       }
   
       100% {
       transform: scale(1, 1);
       }
   }


#rombo4 {
    -webkit-animation: mover 1s infinite  alternate;
    animation: mover 1s infinite  alternate;
}
@keyframes mover {
    0% { transform: translateY(0); }
    100% { transform: translateY(-5px); }
}

#rombo2 {
    -webkit-animation: moverD 1.5s infinite  alternate;
    animation: moverD 1.5s infinite  alternate;
}
@keyframes moverD {
    0% { transform: translateY(0); }
    100% { transform: translateY(-12px); }
}

#rombo3 {
    -webkit-animation: moverD 1.3s infinite  alternate;
    animation: moverD 1.3s infinite  alternate;
}
@keyframes moverD {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

#rombo1 {
    -webkit-animation: moverUno 2s infinite  alternate;
    animation: moverUno 2s infinite  alternate;
}
@keyframes moverUno {
    0% { transform: translateY(0); }
    100% { transform: translateY(-20px); }
}










.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    > * {
      margin: 5px;
    }
}
  
.media {
    width: 400px;
    height: 500px;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 100%;
        height: auto;
      }
}
  
.layer {
    opacity: 0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10px;
    height: 90%;
    background: #FFF;
    color: #151E3F;
    transition: all 0.9s ease;
    p {
      transition: all 0.9s ease;
      transform: scale(0.1)
    }
}
  
p {
    font-family: 'Codystar', cursive;
    text-align: center;
    font-size: 60px;
    letter-spacing:1px;
}
  
.media:hover .layer {
    opacity: 0.8;
    width: 90%;
    transition: all 0.5s ease;
    p {
      transform: scale(1);
      transition: all 0.9s ease;
    }
}
  
@media (max-width: 800px){
    body {
      transform: scale(0.6);
    }
}
  
@media (max-width: 600px) {
      .wrapper {
      display: block;
      > * {
        margin: 10px;
      }
    }
}
