
body {
    background-color: #3A3A3A;
}

.dots-title {
    font-family: 'Codystar', cursive;
    font-weight: 900;
    font-size: 80px;
    text-align: center;
    color: white;
}

.font1 {
    text-align: center;
}

.dot{
    font-size: 40px;
    text-align: center;
    color: white;
}

.header {
    width: 100%;
    text-align: left;
    position: relative;
    background-color: #3A3A3A;

}

.link {
    display: inline-block;
    padding: 15px 0;
    margin: 15px 25px;
    position: relative;
    text-decoration: none;
    color:white;
    font-weight: 800;
    font-size: 24px;
    font-family: 'Codystar', cursive;
}

.header a:hover {
    border-bottom: 4px dotted white;
}

.header a:active {
    border-bottom: 4px dotted white;
}

.main-visualizer {
    align-items: center;
    justify-content: center;
    height: 80%;
}

#worldDots {
    color: white;
}

#texto {
    font-family: 'Codystar', cursive;
    color: white;
}